
@{
    Layout = null;
}

<div class="post">
    <div class="post-title">Title kasldk aslkdl aksdlaks dl</div>
    <div class="post-meta">
        <span>Posted on</span>
        <a>October 26, 2017</a>
        <span>by</span>
        <span>
            <a>Maksym Naumov</a>
        </span>
    </div>
    <div class="post-content">
        SKdnasmdnm,asn dm,ans m,dnam,sn dm,nas m,dnam,sndm, nasdn m,ansm,dn
        asdaks jdklasjd asn,md nam,sn dm,ansnd a,snd ,ans,dna m,sndm,ns a,dn
        asd kajsdkajs kldjalsjdkla jslkdjaklsjd lkajsdklj aksjdkl ajsdklja sas dasd asd asd asd asd asd as
    </div>
</div>

